@charset "UTF-8";

/*=============================
=            Fonts            =
=============================*/

$fontawesome : 'FontAwesome', sans-serif;
$roboto : 'Roboto', sans-serif;
$montserrat : 'montserrat', sans-serif;

.fontawesome{font-family: $fontawesome;}
.roboto{font-family: $roboto;}

/*=====  End of Fonts  ======*/