@charset "UTF-8";

/*==================================
=            Typography            =
==================================*/

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: $base-font;
	margin:0;
	line-height: 1.4;
	@include selection($black, $green);
}

p{
	@include selection($black, $green);
	&:last-child{
		margin-bottom: 0;
	}
}

h1,.h1,.heading-1{font-size: 18px;}
h2,.h2,.heading-2{font-size: 18px;}
//h3,.h3,.heading-3{font-size: 24px;}
//h4,.h4,.heading-4{font-size: 22px;}
h5,.h5,.heading-5{font-size: 15px;}
// h6,.h6,.heading-6{font-size: 16px;}

/*-----  End of Typography  ------*/
