@charset "UTF-8";

/*=================================
=            Variables            =
=================================*/

/* Screen */
$site-width : 1140px;

/* Base */
$base-font : $roboto;
$base-font-size : 13px;
$base-color : $black;
$base-bg-color : $gray;

$border-color : #e5e5e5;

/* Header */
$header-height : 54px;

/* Footer */
$footer-height  : 70px;
$footer-text-color : #b3b3b3;



/*=====  End of Variables  ======*/
