<!-- Footer -->
<footer>
    <!-- Request items -->
    <div class="request-items">
        <div class="top"></div>
    </div><!-- // Request items -->

    <!-- Copyrights -->
    <div class="copyrights">
        <div class="container">
            <a href="" class="footer-logo">Grocery</a>
            <span class="copyright-txt">
            <a href="#_">Privacy policy</a>
            <a href="#_">Terms of service</a> 
            Copyright &copy; 2016 - Grocery. All rights reserved.</span>
            <ul class="social-links">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <span class="help-desk">Help Desk - <a href="tel:0507032356">0507032356</a></span>
        </div>
    </div><!-- // Copyrights -->

</footer><!-- // Footer -->
