<top-header 
    total-items="$ctrl.totalItems"
    total-price="$ctrl.totalPrice"
    open-cart="$ctrl.openCart()"
    ></top-header>

<!-- Welcome window -->
<section id="welcome-window">
  <div class="container">
    <!-- heading -->
    <h1 class="heading">Experience Personalised Shopping</h1><!-- // heading -->

    <!-- Steps -->
    <div class="steps">
      <div class="row">
        <div class="wrap col-xs-12 col-md-10">
          <div class="block step-1 col-xs-4">
            <div class="icon">
              <img src="../../../ico/font-icon/hand-down.png">
            </div>
            <div class="txt">
              <p>Pick your weekly groceries from the products below.</p>
            </div>
          </div>
          <div class="block step-2 col-xs-4">
            <div class="icon">
              <img src="../../../ico/font-icon/headphone.png">
            </div>
            <div class="txt">
              <p>If you can’t find something tell us. We will deliver anyway.</p>
            </div>
          </div>
          <div class="block step-3 col-xs-4">
            <div class="icon">
              <img src="../../../ico/font-icon/light-bulb.png">
            </div>
            <div class="txt">
              <p>Next time, we will make sure those products are in.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- // Steps -->
  </div>
</section><!-- // Welcome window -->

<!-- Products -->
<section id="products">
  <div class="container">
    <!-- Product List -->
    <div id="product-list">
        <products 
            items="$ctrl.product.items" 
            add-to-cart="$ctrl.addToCart(id)" 
            remove-from-cart="$ctrl.removeFromCart(id, action)"
            ></products>
    </div><!-- // Product List -->
  </div>
</section><!-- // Products -->

<cart
    cart-open="$ctrl.cartOpen"
    open-cart="$ctrl.openCart()"
    cart="$ctrl.cart"
    add-to-cart="$ctrl.addToCart(id)"
    remove-from-cart="$ctrl.removeFromCart(id,action)"
    total-items="$ctrl.totalItems"
    total-price="$ctrl.totalPrice"
    ></cart>