@charset "UTF-8";

/*=========================================
=            Invitaiton Notice            =
=========================================*/

#invitation-notice{
	background: $white;
	border-bottom: 1px solid $border-color;
	text-align: center;
	padding: 12px 0 14px;
	.col{
		float: none;
		margin: auto;
		span{
			font-weight: 500;
		}
		.btn{
			margin-left: 15px;
		}
	}

	@media screen and (max-width: 580px) {
		display: none;
    	.col{
			span{
				font-weight: 500;
				float: left;
				width: 100%;
				margin-bottom: 10px;
			}
			.btn{
				margin-left: 0;
			}
		}
    }
}

/*=====  End of Invitaiton Notice  ======*/
